@import url(./kibeom.css);

/* 박스의 시작 대상 */
.game .start {
  background: green;
}

/* 게임 배경 */

.game .delete {
  background: #b4b5fe;
  z-index: 100;
  position: relative;
}
.game .bottomLine {
  border-bottom: 5px solid black;
}
.game .topLine {
  border-top: 5px solid black;
}
.game .leftLine {
  border-left: 5px solid black;
}
.game .rightLine {
  border-right: 5px solid black;
}
.game .box {
  width: 20px;
  height: 20px;
  background: red;
  border: 5px solid #000;
  z-index: 500;
  position: absolute;
  top: 27.5%;
  left: 13%;
}

/* 움직이는 대상 - 둥근 적 */

#avoid-1 {
  left: 30%;
  bottom: 50%;
}
#avoid-2 {
  left: 60%;
  bottom: 55%;
}
#avoid-3 {
  left: 65%;
  bottom: 50%;
}
#avoid-4 {
  left: 70%;
  bottom: 40%;
}
#avoid-5 {
  left: 75%;
  bottom: 30%;
}
#avoid-6 {
  left: 80%;
  bottom: 20%;
}
#avoid-7 {
  left: 85%;
  bottom: 30%;
}

/* 움직이는 대상 - 세모 적 */
#avoid-8 {
  left: 20%;
  bottom: 20%;
}
#avoid-9 {
  left: 30%;
  bottom: 20%;
}
#avoid-10 {
  left: 40%;
  bottom: 20%;
}

/* 움직이는 대상 - 코인 */

#eat-1 {
  position: absolute;
  left: 8%;
  bottom: 32%;
}
#eat-2 {
  position: absolute;
  left: 16%;
  bottom: 32%;
}
#eat-3 {
  position: absolute;
  left: 24%;
  bottom: 32%;
}
#eat-4 {
  position: absolute;
  left: 88%;
  bottom: 24%;
}
#eat-5 {
  position: absolute;
  left: 8%;
  bottom: 32%;
} 